main {
    grid-column: 2;
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-self: center;
    margin-top: 50px;
}
#title {
    font-family: 'Archivo', sans-serif;
    align-self: center;
    color: #121212;
    margin: 0;
}
main h1 {
    font-family: 'Coolvetica', sans-serif;
    margin: 0; 
    color: #9381ff;
}
main h2 {
    font-family: 'Coolvetica', sans-serif;
    margin: 0; 
    color: #AEAEFF;
}
main hr {
    width: 100%; 
    height: auto; 
    border: none; 
    border-top: 3px solid #a3e78c;  
}
main p {
    font-family: 'Archivo', sans-serif;
    font-size: 18px;
    color: #121212;
}
main b {
    color: #9381ff;
    text-decoration: none;
}
main ul {
    font-family: 'Archivo', sans-serif;
    font-size: 18px;
    color: #121212;
}

.source {
    color: blue;
    font-style: italic;
    font-size: 15px;
}