/* MAIN */
main {
    grid-column: 2;
    display: flex;
    width: 80%;
    justify-self: center;
    margin-top: 50px;
}
main hr {
    width: 85%;
    border: none; 
    border-top: 3px solid #FFD8BE; 
}
main a {
    text-decoration: none;
    display: flex;
}

/* BLOG */
.blog-button {
    width: 250px;
    height: 250px;
    background-color: #9381FF;
    border-radius: 15px;
    transition: transform 0.3s ease;
}
.blog-button:hover {
    transform: scale(1.05);
}
.blog-header {
    margin-top: 20px;
    margin-left: 20px;
}
.blog-header h1 {
    font-family: 'Coolvetica', sans-serif;
    font-size: 24px;
    color: #FFD8BE;
    margin: 0;
}
.blog-header h2 {
    font-family: 'Coolvetica', sans-serif;
    font-size: 18px;
    color: #FFEEDD;
    margin: 0;
}
.blog-button p {
    font-family: 'Archivo', sans-serif;
    margin-left: 20px;
    color: #F8F7FF;
    margin-right: 20px;
    margin-top: 0px;
}
