/* MAIN */
main {
    grid-column: 2;
    display: flex;
    justify-content: center; 
    align-items: center;    
}
main p {
    font-family: 'Archivo', sans-serif;
    color: #121212;
}

/* PROFILE CARD */
.profile-card {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.profile-info h1 {
    font-family: 'Coolvetica', sans-serif; 
    color: #121212;
    font-size: 72px;
    margin: 0;
    padding: 0;
}
.profile-info h2 {
    font-family: 'Coolvetica', sans-serif; 
    color: #a3e78c;
    font-size: 52px;
    margin: 0;
    padding: 0;
}
.profile-info p {
    font-family: 'Archivo', sans-serif;
    color: #121212;
}