:root {
    --purple: #9381ff; 
    --green: #6fe04a; 
    --lightgreen: #d3fac4; 
    --black: #121212; 
    --grey: #474646; 
    --white: #F8F7FF;
}

p {
    font-family: 'Archivo', sans-serif;
    color: #121212;
    text-align: center;
}

/* PROJECT BUTTON */
.project-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.project-link-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    text-decoration: none;
    cursor: pointer;
}
.project-item {
    width: 1000px;
    height: 125px;
    background-color: var(--purple);
    border-radius: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.project-item:hover {
    transform: scale(1.025);
}
.project-information {
    margin: 20px 20px 20px 20px; /* top, right, bottom, left */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.project-information img {
    width: 80px;
    height: auto;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 8px;
}
.project-information img:hover {
    transform: scale(1.1);
}
.status-indicator {
    height: 80px;
    width: 50px;
    border-radius: 20px;
}
.project-description {
    width: 800px;
    display: flex;
    flex-direction: column;
    height: 70px;
}
.project-description h3 {
    margin: 0px;
    color: var(--white);
    font-family: 'Archivo', sans-serif;
}
.project-description p {
    margin: 0px;
    text-align: left;
    color: var(--white);
}
.github-link {
    position: relative;
    z-index: 5;
}
#green {
    background-color: #B6EDB5;
}
#yellow {
    background-color: #EDEAA1;
}
#red {
    background-color: #EA9595;
}