/* FONTS */
@font-face {
    font-family: 'Coolvetica';
    src: url('./fonts/coolvetica.woff2') format('woff2'),
         url('./fonts/coolvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Archivo';
    src: url('./fonts/archivo.woff2') format('woff2'),
         url('./fonts/archivo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* CONTAINER */
body, html {
    margin: 0;
    padding: 0;
    height: 100%; 
    background-color: #F8F7FF;
}
.container {
    display: grid;
    height: 100%;
    grid-template-columns: 320px auto; 
    grid-template-rows: 100px auto;
}

/* NAV */
nav {
    position: fixed;
    grid-row: 1 / 3;
    width: 320px; 
    height: 100vh;  
    background-color: #9381ff; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-container {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-item a {
    text-decoration: none; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-item h1 {
    margin: 0;
    font-family: 'Coolvetica', sans-serif; 
    font-size: 24spx;
    color: #F8F7FF;
    transition: color 0.3s ease;
}
.nav-item:hover h1 {
    color: #FFEEDD; 
}

/* HEADER */
header {
    grid-column: 2;
    height: 100px; /* Set the height */
    background-color: #F8F7FF; /* Example background color, you can choose your own */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.media-container {
    display: flex;
    width: 90%;
    justify-content: space-between;
}
.media-item img {
    width: 75px;
    height: 75px;
    transform-origin: center center;
    transition: transform 0.3s ease;
}
.media-item img:hover {
    transform: scale(1.05);
}

/* PROFILE CARD */
.profile-card {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.profile-info h1 {
    font-family: 'Coolvetica', sans-serif; 
    color: #121212;
    font-size: 72px;
    margin: 0;
    padding: 0;
}
.profile-info h2 {
    font-family: 'Coolvetica', sans-serif; 
    color: #FFD8BE;
    font-size: 52px;
    margin: 0;
    padding: 0;
}
.profile-info p {
    font-family: 'Archivo', sans-serif;
    color: #121212;
}
