/* FONTS */
@font-face {
    font-family: 'Coolvetica';
    src: url('./fonts/coolvetica.woff2') format('woff2'),
         url('./fonts/coolvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Archivo';
    src: url('./fonts/archivo.woff2') format('woff2'),
         url('./fonts/archivo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* GLOBAL */
body, html {
    margin: 0;
    padding: 0;
    height: 100%; 
    background-color: #F8F7FF;
}

/* HEADER */
nav {
    height: 100px; 
    background-color: #F8F7FF; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.media-container {
    display: flex;
    width: 90%;
    justify-content: space-between;
}
.media-item img {
    width: 75px;
    height: 75px;
    transform-origin: center center;
    transition: transform 0.3s ease;
}
.media-item img:hover {
    transform: scale(1.05);
}
